:root {
    --primary-color: #0092D0;
    --secondary-color: #FDBE43;
    --accent-color: #FF7500;
    --background-color: #E0E0E0;
    --text-color: #333;
    --container-bg: #555555; /* Mid-tone grey background */
    --border-radius: 10px;
    --container-padding: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align the container horizontally */
    min-height: 100vh;
    justify-content: center; /* Center align the container vertically */
    padding: 0;
}

.container {
    background-color: var(--container-bg);
    color: white; /* Ensure text is readable on dark background */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--container-padding);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%; /* Ensure container takes full width on smaller screens */
}

.brand h1 {
    color: var(--primary-color);
    font-size: clamp(2.5rem, 5vw, 4rem); /* Responsive font size */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Subtle single-color shadow */
    margin: 0; /* Remove margin for better spacing */
}

header p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-top: 10px; /* Adjust margin for better spacing */
}

form {
    margin-top: 20px;
    width: 100%;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    input[type="email"] {
        width: calc(100% - 20px);
    }

    button {
        width: calc(100% - 20px);
    }
}

